.app-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.addresses-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  max-height: 800px;
  overflow-y: scroll;
}

.addresses-content::-webkit-scrollbar {
  width: 12px;
}

.addresses-content::-webkit-scrollbar-thumb {
  background-color: var(--header);
  border-radius: 6px;
}

.addresses-content::-webkit-scrollbar-track {
  background-color: var(--body);
}

.addresses-card {
  width: 300px;
  padding: 20px;
  background: var(--header);
  box-shadow: var(--shadow);
  border-radius: var(--radius-medium);
}

.active {
  border: 2px solid var(--primary);
}

.addresses-card-header h2 {
  color: var(--primary);
  font-size: var(--font-normal);
  padding-bottom: 15px;
  border-bottom: var(--soft-border);
}

.addresses-card-body {
  padding-top: 15px;
}

.addresses-card-body p {
  font-size: var(--font-small);
}

.google-map-content {
  height: 800px;
}

@media screen and (max-width: 992px) {
  .app-content {
    flex-direction: column;
  }

  .addresses-content {
    width: 90%;
    max-height: 450px;
    padding-right: 10px;
  }

  .addresses-card {
    width: 100%;
  }

  .google-map-content {
    padding-right: 20px;
    height: 400px;
  }
}
