@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

/* ==== RESET ==== */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

main {
  overflow: hidden;
}

/* ==== VARIABLES ==== */
:root {
  /* ==== CONTAINERS ====  */
  --body: rgb(241, 241, 241);
  --header: #fff;
  --contents: #fff;
  --galassmorphism: rgba(255, 255, 255, 0.5);
  --black-galassmorphism: rgba(0, 0, 0, 0.5);
  --footer: rgb(226, 226, 226);
  --min-height: 100vh;

  /* ==== SHADOWS & BORDERS ====  */
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --soft-border: 1px solid rgba(0, 0, 0, 0.1);
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --radius-normal: 5px;
  --radius-medium: 10px;
  --radius-large: 20px;
  --radius-round: 50%;

  /* ==== FONT SIZE ====  */
  --font-min: 0.8em;
  --font-small: 0.875em;
  --font-normal: 1em;
  --font-medium: 1.2em;
  --font-large: 1.4em;
  --font-max: 2em;

  /* ==== COLORS ====  */
  --primary: #fcc414;
  --secondary: #fff;
  --white: #fff;
  --default: #555555;
  --color-green: #36ba9b;
  --color-blue: #39aed9;
  --color-yellow: #f5b946;
  --color-red: #d94352;

  /* ==== HOVER ====  */
  --hover-color-green: #61ddbc;
  --hover-color-blue: #66d4f1;
  --hover-color-yellow: #fcd277;
  --hover-color-red: #f76c82;
  --hover-duration: 0.3s;

  /* ==== GRADIENTS ====  */
  --gradient-green: linear-gradient(
    to right,
    #42e695 0%,
    #3bb2b8 50%,
    #42e695 100%
  );
  --gradient-blue: linear-gradient(
    to right,
    #17ead9 0%,
    #6078ea 50%,
    #17ead9 100%
  );
  --gradient-red: linear-gradient(
    to right,
    #622744 0%,
    #c53364 50%,
    #622744 100%
  );
  --gradient-yellow: linear-gradient(
    to right,
    #fce38a 0%,
    #f38181 50%,
    #fce38a 100%
  );

  /* ==== Z-INDEX ====  */
  --index-back: -1;
  --index-fold: 2;
  --index-menu: 3;
  --index-modal: 4;
}
/* 
a {
  text-decoration: none;
  color: var(--default);
  transition: 0.3s all ease-in;
}

a:hover {
  color: var(--primary);
} */

/* ==== INPUTS ==== */
input,
select,
textarea {
  border: var(--border);
  border-radius: var(--radius-normal);
  color: var(--default);
  font-size: var(--font-normal);
  font-weight: 500;
  margin: 10px 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
}

input::placeholder,
textarea::placeholder select {
  color: var(--default);
}

textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* ==== SECTION ==== */
section {
  min-height: calc(var(--min-height - 60px));
  padding: 60px 0;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-size: var(--font-max);
  color: var(--default);
}

.section-header p {
  max-width: 50rem;
}

/* ==== CONTAINER ==== */
.content,
.container {
  display: block;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.content {
  padding: 60px 0;
}

/* ==== BUTTONS ==== */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: var(--font-large);
  font-weight: 600;
  padding: 8px 16px;
  background: #333333;
  box-shadow: var(--shadow);
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
  min-height: 40px;
}

.btn-full {
  width: 100%;
}

.btn-primary {
  background: var(--primary);
  filter: brightness(100%);
}

.btn-primary:hover {
  background: var(--primary);
  filter: brightness(120%);
}

.btn-secondary {
  background: #ffffff;
  color: #7c6fee;
}

.btn-secondary:hover {
  background: #dddddd;
}

.btn-green {
  background: var(--color-green);
}

.btn-green:hover {
  background: var(--hover-color-green);
}

.btn-yellow {
  background: var(--color-yellow);
}

.btn-yellow:hover {
  background: var(--hover-color-yellow);
}

.btn-blue {
  background: #2e86de;
}

.btn-blue:hover {
  background: #54a0ff;
}

.btn-facebook {
  background: #3c5d96;
}

.btn-facebook:hover {
  background: #4b74b7;
}

.btn-google {
  background: #d05c45;
}

.btn-google:hover {
  background: #ef6951;
}

/* ==== GRADIENTS ==== */
.gradient {
  background-size: 200% auto;
  transition-duration: 0.5s;
}

.gradient-green {
  background-image: var(--gradient-green);
}

.gradient-blue {
  background-image: var(--gradient-blue);
}

.gradient-yellow {
  background-image: var(--gradient-yellow);
}

.gradient-red {
  background-image: var(--gradient-red);
}

.gradient-hover:hover {
  background-position: right center;
}

/* ==== EFFECTS ==== */
.transition {
  transition-duration: var(--hover-duration);
}

.radius {
  -webkit-border-radius: var(--radius-normal);
  -moz-border-radius: var(--radius-normal);
  border-radius: var(--radius-normal);
}

.rounded {
  -webkit-border-radius: var(--radius-round);
  -moz-border-radius: var(--radius-round);
  border-radius: var(--radius-round);
}

.box-shadow {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
