/* ==== FOOTER ==== */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header);
  box-shadow: var(--shadow);
  padding: 15px 5px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--primary);
}
