.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--min-height);
  background-image: url(./../images/backgrounds/hero-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 30px;
}

.hero-description {
  max-width: 600px;
  background: var(--header);
  box-shadow: var(--shadow);
  padding: 40px;
  border-radius: var(--radius-medium);
  text-align: center;
}

.hero-description h2 {
  font-size: var(--font-max);
  margin-bottom: 15px;
}

.hero-description p {
  margin-bottom: 15px;
}
